body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid black;
}

.header-wrapper {
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.header-item {
    margin: auto 0;
    border-right: 1px solid #EEEEEE;
    padding: 20px 70px 20px 0;
    display: flex;
}

.header-item-wrapper {
    display: flex;
    flex-direction: column;
}

.header-item-icon {
    height: 20px;
    margin: auto 0;
    padding-right: 10px;
}

.header-item-description {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.header-item-title {
    font-size: 12px;
}

.header-title-logo {
    display: block;
    margin: auto 0;
}

.social {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}

.social-block {
    display: flex;
    margin: auto 0;
    cursor: pointer;
}

.social-vk {
    background: url("../img/vk.png") no-repeat;
    background-size: contain;
}

.social-vk:hover {
    background: url("../img/vkHover.png") no-repeat;
    background-size: contain;
}

.social-telegram {
    background: url("../img/telegram.png") no-repeat;
    background-size: contain;
}

.social-telegram:hover {
    background: url("../img/telegBlue.png") no-repeat;
    background-size: contain;
}

.social-instagram {
    background: url("../img/inst.png") no-repeat;
    background-size: contain;
}

.social-instagram:hover {
    background: url("../img/instaBlue.png") no-repeat;
    background-size: contain;
}

.basket-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.basket-icon:hover {
    background-color: lightgray;
    border-radius: 100px;
}

.right-block {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.basket a {
    text-decoration: none;
    position: relative;
}

.basket-count{
    font-size:14px;
    position: absolute;
    left: 30px;
    color: red;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline-start: 0;
    cursor: pointer;
    margin-top: 16%;
}

.information-item-wrapper {
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    font-size: 16px;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border: 1px solid aqua;
}

ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #2196f3;
    transition: 0.5s;
}

ul li a:hover {
    color: #fff;
}

ul li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
