body {
    margin: 0;
    padding: 0;
}

.header {
    height: 160px;
}

.header-logo {
    display: block;
    width: 60px;
    margin: 0 auto;
}

.header-title {
    display: flex;
    justify-content: space-around;
}

.header-logo-name {
    text-align: center;
    margin: 5px auto 5px auto;
    color: #3A2F36;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;

}

.header-title-info {
    display: flex;
    margin: auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.header-title-logo {
    margin: 0 auto;
}

.header-title-info-right {
    margin: 0 40px 0 40px;
}

.header-title-nav__bar a {
    text-decoration: none;
}

.header-logo-sub-name {
    font-size: 8px;
    margin-top: 15px;
    color: black;
    text-align: center;
}

.wrapper-information {
    width: 100%
}

.header-wrapper {
    display: flex;
}

.information-title {
    text-align: center;
    font-size: 27px;
    letter-spacing: 14px;
    margin-top: 9px;
    font-family: GungsuhChe;
}

.line {
    width: 100%;
    border: 1px solid black;
    background-color: #52d2e3;
    height: 20px;
}

.information-up-line {
    display: flex;
    letter-spacing: 0;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 10px;
}

.information-item{
    display: flex;
    margin: 0 auto;
}

.information-down-line {
    display: flex;
    letter-spacing: 0;
    justify-content: space-evenly;
    font-size: 16px;
    margin-top: 10px;
}

.information-item-img img{
    width: 20px;
    margin-right: 7px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline-start: 0;
    cursor: pointer;
    margin-top: 16%;
}

.information-item-wrapper{
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    font-size: 16px;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border: 1px solid aqua;
}

ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #2196f3;
    transition: 0.5s;
}

ul li a:hover {
    color: #fff;
}

ul li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
