body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid black;
}

.header-wrapper {
    display: flex;
    height: 100px;
    justify-content: space-around;
}

.header-logo {
    width: 250px;
}

.header-item {
    margin: auto 0;
    border-right: 1px solid #EEEEEE;
    padding: 20px 70px 20px 0;
    display: flex;
}

.header-item-wrapper {
    display: flex;
    flex-direction: column;
}

.header-item-icon {
    height: 20px;
    margin: auto 0;
    padding-right: 10px;
}

.header-item-description {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.header-item-title {
    font-size: 12px;
}

.header-title-logo {
    display: block;
    margin: auto 0;
}

.social {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 5px;
}

.social-block {
    display: flex;
    margin: auto 0;
    cursor: pointer;
}

.social-vk {
    background: url("../img/vk.png") no-repeat;
    background-size: contain;
}

.social-vk:hover {
    background: url("../img/vkHover.png") no-repeat;
    background-size: contain;
}

.social-telegram {
    background: url("../img/telegram.png") no-repeat;
    background-size: contain;
}

.social-telegram:hover {
    background: url("../img/telegBlue.png") no-repeat;
    background-size: contain;
}

.social-instagram {
    background: url("../img/inst.png") no-repeat;
    background-size: contain;
}

.social-instagram:hover {
    background: url("../img/instaBlue.png") no-repeat;
    background-size: contain;
}

.basket-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.basket-icon:hover {
    background-color: lightgray;
    border-radius: 100px;
}

.right-block {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.basket a {
    text-decoration: none;
    position: relative;
}

.basket-count {
    font-size: 14px;
    position: absolute;
    left: 65px;
    color: white;
    text-align: center;
    background-color: #FFB31A;
    height: 17px;
    width: 17px;
    border-radius: 100px;
    z-index: 999;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline-start: 0;
    cursor: pointer;
    margin-top: 16%;
}

.information-item-wrapper {
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    font-size: 16px;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border: 1px solid aqua;
}

ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #2196f3;
    transition: 0.5s;
}

ul li a:hover {
    color: #fff;
}

ul li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}


@media (max-width: 1100px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
    }

    .header {
        border: none;
        margin-bottom: 200px;
    }

    .container {
        width: 100%;
        margin: 160px auto 0 auto;
    }

    .catalog-container {
        display: flex;
        flex-direction: column;
    }

    .catalog-container a {
        width: 600px !important;
        margin: 250px auto -150px auto;
        height: auto !important;
    }

    .header-item {
        margin: 0 auto;
        border: none;
        padding: 20px 0;
    }

    .header-logo {
        display: block;
        margin: 50px auto;
        width: 500px;
    }

    .social-block {
        margin: 20px auto;
        width: max-content;
    }

    .basket {
        width: max-content;
        margin: 20px auto;
    }

    .basket-count {
        position: sticky;
        right: 20px;
        margin: 0 0 0 20px;
    }

    .catalog-section-block {
        margin: 40px;
    }

    .feedback-block {
        flex-direction: column;
    }


    .feedback-block form {
        margin: 20px auto;
    }

    .header-item-icon {
        height: 70px;
    }

    .header-item-title {
        font-size: 35px;
    }

    .header-item-description {
        font-size: 35px;
    }

    .header-wrapper {
        margin-top: 400px;
    }

    .basket-count {
        font-size: 50px;
        height: 60px;
        width: 60px;
    }

    .basket-icon {
        width: 120px;
        height: 120px;
    }

    .social {
        width: 90px;
        height: 90px;
    }

    .catalog-home-item-img {
        width: 450px;
    }

    .catalog-item-label {
        font-size: 45px;
        width: auto !important;
        text-align: center;
    }

    .catalog-item-btn {
        font-size: 25px !important;
        text-align: center;
        margin-bottom: 50px;
    }

    .catalog-home-item {
        width: 470px;
        margin: 0 auto;
    }

    .info-buy {
        justify-content: space-between;
    }

    .services {
        margin-top: 300px !important;
        flex-direction: column;
    }

    .service-block-item {
        margin: 0 auto 200px auto;
        width: auto !important;
    }

    .service-block-item img {
        width: auto !important;
    }

    .service-block-item h3 {
        text-align: center;
        font-size: 45px;
    }

    .service-description {
        font-size: 40px !important;
        line-height: normal !important;
        text-align: center;
    }

    .feedback-block {
        display: flex;
        flex-direction: column;
    }

    .feedback-block iframe {
        width: auto !important;
        padding: 0 50px 150px 50px;
    }

    .feedback-block form {
        width: auto !important;
        padding: 0 50px;
    }

    .feedback-block form label input {
        width: 800px;
        height: 80px;
    }

    .feedback-block form label {
        font-size: 40px;
    }

    .feedback-block .form-btn {
        width: 300px;
        height: 100px;
        font-size: 30px;
    }

    .footer-info {
        font-size: 40px !important;
    }

    .catalog-section-block-title {
        margin-top: 1050px !important;
        font-size: 60px !important;
    }

    .catalog-section-block-right {
        flex-direction: column;
        font-size: 40px;
    }

    .catalog-section-block-right a {
        margin-top: 100px !important;
    }

    .counter-item {
        width: 100px !important;
    }

    .catalog-section-item-description {
        width: auto !important;
    }

    .catalog-section-item-description li {
        list-style-type: none !important;
        margin-bottom: 15px;
        text-align: center;
        font-size: 50px !important;
    }

    .one-click {
        width: 150px !important;
        background-size: 90px;
    }

    .catalog-section-item-img img {
        width: 400px;
    }

    .price-section {
        font-size: 90px !important;
    }

    .add-basket {
        width: 175px !important;
        font-size: 35px !important;
        background-size: 90px;
    }

    .one-click-label {
        margin-left: -40px !important;
        padding: 35px !important;
    }

    .add-basket-label {
        padding: 35px !important;
        margin-left: -60px !important;
    }

    .catalog-section-block-left {
        height: auto !important;
        width: auto !important;
        position: absolute;
        top: 500px;
        left: calc(50% - 280px);
        border-right: 0 !important;
        border-top: 0 !important;
        border-left: 0 !important;
    }

    .catalog-section-block-left-item {
        font-size: 40px !important;
    }

    .catalog-section-block-left-title {
        font-size: 40px !important;
    }

    .btn-home {
        font-size: 40px
    }

    .catalog-section-block-title {
        position: relative;
        left: calc(50% - 250px) !important;
        text-align: center;
    }

    .catalog-item-block {
        margin-top: 1050px;
    }

    .catalog-item-title {
        font-size: 45px !important;
    }

    .catalog-item-wrapper-img-description {
        flex-direction: column !important;
    }

    .catalog-item-img {
        text-align: center;
        display: inline;
        margin: 0 !important;
    }

    .catalog-item-img img {
        margin-top: 140px;
        width: 600px;
    }

    .catalog-item-description {
        text-align: center;
        font-size: 38px;
    }

    .catalog-item-block-right {
        margin: 90px 0 0 0 !important;
    }

    .catalog-item-price {
        font-size: 45px !important;
    }

    .catalog-item-specification {
        padding: 25px !important;
        font-size: 35px !important;
    }

    .catalog-item-specification-title {
        font-size: 45px !important;
    }

    .basketBlock {
        margin-top: 400px;
    }

    .wrapper-header-for-basket {
        font-size: 30px;
    }

    .basket-btn-clear button {
        font-size: 30px;
    }

    .order-item-block {
        font-size: 25px;
    }

    .order-item-image {
        width: 200px !important;
    }

    .order-item-price-ed {
        margin-top: 65px !important;
    }

    .order-item-counter {
        margin-top: 65px !important;
    }

    .order-item-label-block {
        margin-top: auto !important;
        height: auto;
        margin-bottom: auto;
    }

    .order-item-price-block {
        margin-top: auto !important;
        margin-bottom: auto;
    }

    .make-order-block-up {
        flex-direction: column;
    }

    .make-order__block-left {
        font-size: 35px !important;
    }

    .make-order__block-left input {
        width: 500px !important;
        height: 50px !important;
    }

    .make-order__block-right {
        margin-top: 50px;
        font-size: 35px !important;
    }

    .make-order__block-right {
        width: auto !important;
        margin-bottom: 40px !important;
    }

    .delivery-pickup {
        font-size: 35px !important;
    }

    .delivery-pickup div {
        font-size: 35px !important;
    }

    .promo-code {
        left: 500px;
        top: 255px !important;
    }

    .promo-code input {
        font-size: 35px !important;
    }

    .total-sum-block div {
        font-size: 40px;
    }

    .confirm-order button {
        min-width: 320px !important;
        padding: 15px 3px !important;
        font-size: 20px;
    }

    .clear-basket {
        font-size: 40px;
    }

    .pop-up {
        top: 700px !important;
        width: 100% !important;
        font-size: 50px;
        left: 0 !important;
        height: 500px !important;
    }

    .pop-up_title {
        font-size: 35px !important;
    }

    .pop-up_tel {
        width: 70% !important;
        height: 50px !important;
        font-size: 35px !important;
        margin-bottom: 80px !important;
    }

    .pop-up_details button {
        margin-top: 50px!important;
        width: 250px !important;
        height: 70px !important;
        font-size: 40px !important;
    }

    .pop-up_number{
        width: 310px;
        margin-left: 37px;
        height: 71px!important;
        font-size: 40px;
    }

    .pop-up img{
        left: 930px!important;
        width: 41px!important;
    }
}



