.catalog-item-price{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/*Form*/
form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;
}

form label input {
    margin-top: 10px;
    width: 420px;
    outline: 0;
    outline-offset: 0;
    background-color: #F7F7F7;
    border: 0;
    height: 40px;
}

.form-btn {
    height: 40px;
    width: 100px;
    background-color: #79BFF0;
    color: white;
    border: none;
    margin: 50px auto 0 auto;
}


/*AddBasketButton */
.add-basket {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 240px!important;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.5);
    transition: .3s;
}
.add-basket:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}

