.catalog-item-price {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/*Form*/
form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;
}

form label input {
    margin-top: 10px;
    width: 420px;
    outline: 0;
    outline-offset: 0;
    background-color: #F7F7F7;
    border: 0;
    height: 40px;
}

.form-btn {
    height: 40px;
    width: 100px;
    background-color: #79BFF0;
    color: white;
    border: none;
    margin: 50px auto 0 auto;
}


/*AddBasketButton */
.add-basket {
    padding: 5px;
    background-size: contain;
    background: #2ee59d url("../img/shop_cart.png") no-repeat center;
    width: 40px;
    height: 40px;
}

.one-click {
    padding: 5px;
    background-size: contain;
    background: #e83e38 url("../img/one_click.png") no-repeat center;
    width: 40px;
    height: 40px;
}

.add-basket:hover {
    background-color: #82aa3a;
    transition: 0.3s;
}

.one-click:hover {
    transition: 0.3s;
    background-color: #990C0C;
}

