.footer-info{
    display: flex;
    margin: auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    color: gray;
    justify-content: space-around;
}

.wrapper{
    display: block;
    margin-top: 100px;
    width: 100%;
    background: #555555;
}

.container {
    height: 100%;
}

.footer-info > div {
    margin: auto 0;
}

.social a{
    padding-right: 15px;
}

.social a img{
    width:40px;
}
